* {
    font-family: Arial, Helvetica, sans-serif;
}
table.first {
    border-collapse: seperate;
    border: 2px solid black;
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {
    border-collapse: collapse;
    border: 2px solid purple;
    caption-side: bottom;
}

table.second th {
    background-color: salmon;
}

table.second th, table.second td {
    padding: .7em;
    vertical-align: middle;
    border: 2px solid purple;
}

table.third {
    border-collapse: collapse;
}
  
table.third caption {
    caption-side: top;
    color: green;
    font-weight: bold;
    border-top: 2px solid salmon;
    border-bottom: 2px solid salmon;
    padding: 5px;
}
  
table.third th {
    background-color: green;
    border-bottom: 2px solid salmon;
    padding: 10px;
}
.third td {
    vertical-align: top;
    padding: 8px;
}
  
table.third th, .third td {
    text-align: center;
    padding: 8px;
}
 
  

@media only screen and (max-width: 425px) {
    th, td {
    display: block;
    }
    thead, td.number {
    display: none;
    padding: 0;
    }
}    